*.yml
11_12_Image_Classification/*.jpg
11_12_Image_Classification/11_data/
11_12_Image_Classification/12_data/
13_Audio_Classification/__pycache__/
13_Audio_Classification/data/
14_Object_Detection/data/
14_Object_Detection/data_archive/
15_Object_Detection_YOLO7/yolov7
15_Object_Detection_YOLO7/data/
16_Object_Detection_YOLO8/*.pt
16_Object_Detection_YOLO8/runs
16_Object_Detection_YOLO8/test
16_Object_Detection_YOLO8/train_custom
17_Style_Transfer_Learning/*.jpg
18_Transfer_Learning/test
18_Transfer_Learning/train
19_Recurrent_Neural_Networks
20_Recommender_Systems/*.csv
21_Autoencoders/data/
23_Graph_Neural_Networks/data
24_Transformers/out
24_Transformers/test
24_Transformers/train
25_PyTorch_Lightning/lightning_logs
26_Semi_Supervised_Learning/data/
27_Natural_Language_Processing/.vector_cache
27_Natural_Language_Processing/data/
29_Model_Deployment/__pycache__/
29_Model_Deployment/*.pt
17_Style_Transfer/*.jpg
28_Miscellaneous/*.jpg
